.new_footer_area {background: #f5f5fa;}
.new_footer_area .footer_bottom {padding-top: 5px;padding-bottom: 50px;}
.new_footer_area .footer_bottom p {font-size: 16px;color: #6a7695;line-height: 28px;margin-bottom: 0;}
.new_footer_area .footer_bottom p i {color: #fd2f51;}
.new_footer_top {padding: 120px 0 270px;position: relative;}
.new_footer_top .f-title {margin-bottom: 30px;color: #263b5e;}
.new_footer_top .company_widget p {font-size: 16px;font-weight: 300;line-height: 28px;color: #6a7695;margin-bottom: 20px;}
.new_footer_top .company_widget .f_subscribe_two .form-control {border: 1px solid #e2e2eb;border-radius: 4px;height: 55px;background: #fff;font-size: 15px;font-weight: 300;line-height: 55px;padding-left: 30px;}
.new_footer_top .company_widget .f_subscribe_two .btn_get {border-width: 1px;margin-top: 20px;}
.new_footer_top .f_widget.about-widget .f_list li {margin-bottom: 11px;}
.new_footer_top .f_widget.about-widget .f_list li a {color: #6a7695;}
.new_footer_top .f_widget.about-widget .f_list li a:before {display: none;}
.new_footer_top .f_widget.about-widget .f_list li a:hover {color: #5e2ced;}
.new_footer_top .f_social_icon a {width: 44px;height: 44px;line-height: 43px;background: 0 0;border: 1px solid #e2e2eb;font-size: 12px;}
.new_footer_top .f_social_icon a:hover {background: #5e2ced;border-color: #5e2ced;}
.new_footer_top .f_social_icon a+a {margin-left: 4px;}
.new_footer_top .footer_bg {position: absolute;bottom: 0;background: url("../img/seo/footer_bg.png") no-repeat scroll center 0;width: 100%;height: 266px;}
.new_footer_top .footer_bg .footer_bg_one {background: url("../img/seo/car.png") no-repeat center center;width: 70px;height: 50px;position: absolute;bottom: 0;left: 30%;-webkit-animation: myfirst 22s linear infinite;animation: myfirst 22s linear infinite;}
.new_footer_top .footer_bg .footer_bg_two {background: url("../img/seo/bike.png") no-repeat center center;width: 50px;height: 52px;bottom: 0;left: 38%;position: absolute;-webkit-animation: myfirst 30s linear infinite;animation: myfirst 30s linear infinite;}
@-moz-keyframes myfirst {0% {left: -25%;}
	100% {left: 100%;}}
@-webkit-keyframes myfirst {0% {left: -25%;}
	100% {left: 100%;}}
@keyframes myfirst {0% {left: -25%;}
	100% {left: 100%;}}
.f_bg {background: #eff2f9;-webkit-box-shadow: 0 -1px 0 0 rgba(231,236,246,.004);box-shadow: 0 -1px 0 0 rgba(231,236,246,.004);}
.footer_top {border-bottom: 1px solid #e0e3ef;padding: 115px 0 100px;}
.f_widget .widget-wrap {margin-top: 35px;}
.f_widget .widget-wrap p span {color: #051441;}
.f_widget .widget-wrap p a {color: #677294;-webkit-transition: color .2s linear;-o-transition: color .2s linear;transition: color .2s linear;}
.f_widget .widget-wrap p a:hover {color: #6754e2;}
.f_widget.company_widget .mchimp-errmessage, .f_widget.company_widget .mchimp-sucmessage {position: absolute;}
.f_widget.about-widget .f_list {margin-bottom: 0;}
.f_widget.about-widget .f_list li {margin-bottom: 15px;}
.f_widget.about-widget .f_list li a {font: 300 16px/20px "Poppins",sans-serif;color: #677294;position: relative;-webkit-transition: color .2s linear;-o-transition: color .2s linear;transition: color .2s linear;display: inline-block;}
.f_widget.about-widget .f_list li a:before {content: "";width: 0;height: 1px;background: #6754e2;right: 0;left: auto;bottom: 0;position: absolute;-webkit-transition: width .2s linear;-o-transition: width .2s linear;transition: width .2s linear;}
.f_widget.about-widget .f_list li a:hover {color: #6754e2;}
.f_widget.about-widget .f_list li a:hover:before {width: 100%;right: auto;left: 0;}
.f_widget.about-widget .f_list li:last-child {margin-bottom: 0;}
.f_subscribe {position: relative;margin-top: 40px;}
.f_subscribe .form-control {font: 300 14px poppins,sans-serif;color: #333;border: 1px solid #e2e7f3;border-radius: 3px;background: #e9ecf3;padding-left: 25px;height: 54px;-webkit-box-shadow: none;box-shadow: none;}
.f_subscribe .form-control.placeholder {color: #9ba2b5;}
.f_subscribe .form-control:-moz-placeholder {color: #9ba2b5;}
.f_subscribe .form-control::-moz-placeholder {color: #9ba2b5;}
.f_subscribe .form-control::-webkit-input-placeholder {color: #9ba2b5;}
.f_subscribe .form-control:focus {-webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.06);box-shadow: 0 4px 6px 0 rgba(12,0,46,.06);}
.f_subscribe button {position: absolute;right: 25px;background: 0 0;padding: 0;color: #222d39;font-size: 16px;top: 52%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.footer_bottom {font-size: 14px;font-weight: 300;line-height: 20px;color: #7f88a6;padding: 27px 0;}
.footer_bottom p a {color: #6754e2;-webkit-transition: color .2s linear;-o-transition: color .2s linear;transition: color .2s linear;}
.footer_bottom .f_menu {margin-bottom: 0;}
.footer_bottom .f_menu li {display: inline-block;position: relative;}
.footer_bottom .f_menu li a {color: #7f88a6;-webkit-transition: color .2s linear;-o-transition: color .2s linear;transition: color .2s linear;}
.footer_bottom .f_menu li a:hover {color: #6754e2;}
.footer_bottom .f_menu li+li {margin-left: 16px;}
.footer_bottom .f_menu li+li:before {content: "";width: 1px;height: 12px;background: #b1b7ca;display: inline-block;margin-right: 18px;vertical-align: middle;}
.footer_bottom a:hover {color: #6754e2;}
.f_social_icon_two a {font-size: 14px;color: #969db4;margin: 0 8px;}
.f_social_icon a {width: 46px;height: 46px;border-radius: 50%;font-size: 14px;line-height: 45px;color: #858da8;display: inline-block;background: #ebeef5;text-align: center;-webkit-transition: all .2s linear;-o-transition: all .2s linear;transition: all .2s linear;}
.f_social_icon a:hover {background: #00aff0;color: #fff;}
.f_social_icon a+a {margin-left: 10px;}